@font-face {
  font-family: nunito;
  src: url("./Fonts/nunito/Nunito-Regular.ttf");
}

button{
  background: #c4c4c4;
  color: black;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: block;
}

#chat-container{
  margin-left: auto;
  margin-right: auto;
  display: none;
  margin-top: 65px;
  height: 555px;
  width: 550px;
  color: white;
  text-decoration: none;
  background: #c4c4c4;
  border-radius: 2px;
  border: 5px solid #1f3f87;
  box-shadow: 5px 5px 7px 1px rgb(0 0 0 / 40%);
}

#chat-header{
  height: 33px;
  color: white;
  background-color: #1f3f87;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  display: flex;
}

#chat-title{
  margin-left: 10px;
}

#fake-background{
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -999;
  pointer-events: none;

}

#chat-body{
  color: #1f3f87;
  background-color: #f8fafa;
  position: relative;
  width: 500px;
  height: 472px;
  margin: 10 auto;
  border-left: 3px solid #848484;
  border-top: 3px solid #848484;
  border-right: 3px solid #d4d4d4;
  border-bottom: 3px solid #d4d4d4;

  
  overflow: auto;
}

#chat-body div{
    margin-left: 5px;
    padding-top: 5px;
}

.time-code {
  color: grey;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

#typing {
  color: grey;
  font-weight: lighter;
  font-style: italic;
}

.chat-line{
  width: 90%;
  line-height: 20px;
  color: black;
}

.me{
  color: blue;
  margin-right: 10px;
  font-weight: bolder;
}

#chat-body .thought{
  margin-left: auto;
  width: 200px;
  height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-weight: lighter;
  font-style: italic;
  color: grey;


}

.you{
  color: red;
  font-weight: bolder;
  margin-right: 10px;
}

#typing:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 3000ms infinite;      
  animation: ellipsis steps(4,end) 3000ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}